@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*
{
  margin: 2;

  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  color: #fff;
  font-size: 1.06em;
}
body
{
  display: flex;
  justify-content: center;
  align-items: top;
  min-height: 100vh;
  background: #000;
}
section
{
  position: absolute;
  width: 250vw;
  height: 250vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  flex-wrap: wrap;
  overflow: hidden;
}
section::before
{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#000,#0f0,#000);
  animation: animate 5s linear infinite;
}
@keyframes animate
{
  0%
  {
    transform: translateY(-100%);
  }
  100%
  {
    transform: translateY(100%);
  }
}
section span
{
  position: relative;
  display: block;
  width: calc(12.25vw - 2px);
  height: calc(12.25vw - 2px);
  background: #181818;
  z-index: 2;
  transition: 1.5s;
}
section span:hover
{
  background: #0f0;
  transition: 0s;
}

section .formclass
{
  position: absolute;
  width: 800px;
  background: #222;
  z-index: 1000;
  display: flex;
  justify-content: top;
  align-items: center;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(0,0,0,9);
}
section .formclass .content
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  background: #767676;
}
section .formclass .content h2
{
  font-size: 4em;
  color: #0f0;
  text-transform: uppercase;
}
section .formclass .content .form
{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  background: #767676;
}
section .formclass .content .form .inputBox
{
  position: relative;
  width: 100%;
  background: #767676;
}
section .formclass .content .form .inputBox input
{
  position: relative;
  width: 100%;
  background: #767676;
  border: none;
  outline: none;
  padding: 25px 10px 7.5px;
  border-radius: 4px;
  color: #767676;
  font-weight: 500;
  font-size: 1em;
}
section .formclass .content .form .inputBox i
{
  position: absolute;
  left: 0;
  padding: 15px 10px;
  font-style: normal;
  background: #767676;
  transition: 0.5s;
  pointer-events: none;
}
.formclass .content .form .inputBox input:focus ~ i,
.formclass .content .form .inputBox input:valid ~ i
{
  transform: translateY(-7.5px);
  font-size: 0.8em;
  color: #767676;
  background: #767676;
}
.formclass .content .form .links
{
  position: relative;
  background: #767676;
  width: 100%;
  display: flex;
  #justify-content: space-between;
}
.formclass .content .form .links a
{
  color: #767676;
  background: #767676;
  text-decoration: none;
}
.formclass .content .form .links a:nth-child(2)
{
  color: #767676;
  font-weight: 600;
  background: #767676;
}
.formclass .content .form .inputBox input[type="submit"]
{
  padding: 10px;
  background: #767676;
  color: #767676;
  font-weight: 600;
  font-size: 1.35em;
  letter-spacing: 0.05em;
  cursor: pointer;
}
input[type="submit"]:active
{
  opacity: 0.6;
}
@media (max-width: 900px)
{
  section span
  {
    width: calc(10vw - 2px);
    height: calc(10vw - 2px);
  }
}
@media (max-width: 600px)
{
  section span
  {
    width: calc(20vw - 2px);
    height: calc(20vw - 2px);
  }
}

.flashes
{
  margin-top: 30;
  margin-left: 15;
  position: relative;
  max-width: 550px;
  background-color : #171919;
  border: none;
  outline: none;
  padding: 10px 4px 12px;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
  font-size: 0.85em;
  word-wrap: break-word;         /* All browsers since IE 5.5+ */
  overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
}

input {
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-variant-alternates: ;
    font-variant-position: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    font-optical-sizing: ;
    font-size-adjust: ;
    font-kerning: ;
    font-feature-settings: ;
    font-variation-settings: ;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    padding: 1px 4px;
    border-width: 2px;
    border-style: outset;
    border-color: 767676;
    border-image: initial;
    min-height: 50;

}

input[type="text"], input[type="password"], textarea {
  -webkit-border-radius: 6px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #505050;
  background-color : #454a4d;
  color: #fff;
  display: inline-block;
  text-align: start;
  appearance: auto;
  cursor: text;
  margin: 2px;
  padding: 1px 4px;
  border-width: 2px;
  border-style: outset;
  border-color: 767676;
  border-image: initial;
  min-height: 50;
  min-width: 130;
  font-size: 0.85em;
}

input[type="submit" i], [type="button"] {
    -webkit-border-radius: 8px;
    -moz-border-radius: 7px;
    border-radius: 8px;
    border: 4px solid #505050;
    margin-left: 3;
    appearance: auto;
    user-select: none;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    background-color: #454a4d;
    color: #fff;
    white-space: pre;
    padding-block: 2px;
    padding-inline: 4px;
    border-width: 4px;
    border-style: outset;
    border-color: 767676;
    border-image: initial;
    min-height: 50;
    width: 4.5em;
    font-size: 0.85em;

}

th, td {
  padding: 2px;  /* margins between table columns */
}

